.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
  list-style: none;
}

.gallery__item {
  /* flex-basis: calc((100% - 3 * 30px) / 3); */
  margin: 15px;
}

.gallery__image {
  display: block;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.gallery-box {
  margin: 10px;
}

.gallery-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
